{% extends "base.html" %}
<!DOCTYPE html>
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/general.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/security/change_password.css') }}">
{% endblock %}

{% block title %}Change Password{% endblock %}

{% block headline %}Change Password{% endblock %}

{% block second_title %}Oh you want to change your password?<br>Gotcha!{% endblock %}

{% block content %}
    <form class="form" action="" method="post" id="changepasswordform">
        <div class="form_wrapper">
            <div class="current">
                <div class="manual_input">
                    <p class="input_hint">Name or Email:</p>
                    <input class="input_field" type="text" name="name" placeholder="name@example.com">
                </div>
                <div class="manual_input">
                    <p class="input_hint">Current Password:</p>
                    <input class="input_field" type="password" name="current_password">
                </div>
            </div>
            <div class="new">
                <div class="manual_input">
                    <p class="input_hint">New Password:</p>
                    <input class="input_field" type="password" name="new_password">
                </div>
                <div class="manual_input">
                    <p class="input_hint">Retype new Password:</p>
                    <input class="input_field" type="password" name="new_password_re">
                </div>
            </div>
        </div>
        <div class="buttons">
            <input class="button" type="submit" name="change_password" value="Change Password" form=changepasswordform>
        </div>
    </form>
{% endblock %}
