bcrypt==3.2.0
cachelib==0.1.1
cffi==1.14.3
click==7.1.2
colored==1.4.2
Flask==1.1.2
Flask-Session==0.3.2
gevent==20.9.0
greenlet==0.4.17
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy==1.19.4
pandas==1.1.4
pdfrw==0.4
Pillow==8.0.1
pycparser==2.20
PyPDF2==1.26.0
python-dateutil==2.8.1
pytz==2020.4
reportlab==3.5.55
six==1.15.0
Werkzeug==1.0.1
zope.event==4.5.0
zope.interface==5.2.0
