{% extends "base.html" %}
<!DOCTYPE html>
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/general.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/security/forgot_password.css') }}">
{% endblock %}

{% block title %}Forgot Password{% endblock %}

{% block headline %}Forgot Password{% endblock %}

{% block second_title %}So, you forgot your password? <br>Dont panic, we got you covered!{% endblock %}

{% block content %}
    <form class="form" action="" method="post" id="forgotpasswordform">
        <div class="form_wrapper">
            <div class="form_fields">
                <div class="manual_input">
                    <p class="input_hint">Name or Email:</p>
                    <input class="input_field" type="text" name="name" placeholder="name@example.com">
                </div>
            </div>
        </div>
        <div class="text_links">
            <div class="text_link_container">
                <p>You suddenly remember your password? </p><a class="text_link" href="{{ url_for('sec.login')}}">Login!</a>
            </div>
        </div>
        <div class="buttons">
            <input class="button" type="submit" name="forgot_password" value="Send recovery Email" form=forgotpasswordform>
        </div>
    </form>

{% endblock %}
