:root {
    --button-secondary-outline-color: #eee;
    --text-color: #eee;
    --text-color-inv: #111;
    --background-color: #181a1b;
    --lighter-background: #202324;
    --background-color-inv: #eee;
    --accent-color: #1abc9c;
    --accent-color-bright: #1dd1ad;
    --warning-color: #ff202f;
}
