{% extends "base.html" %}
<!DOCTYPE html>
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/general.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/settings.css') }}">
{% endblock %}
{% block title %}Configure Report Booklet{% endblock %}

{% block headline %}Report Booklet Writer{% endblock %}

{% block content %}
    <form class="form" action="" method="post" id="configform">
        <div class="form_wrapper">
            <div class="manual_input">
                <p class="input_hint">Name:</p>
                <input class="input_field" type="text" name="name" value="{{ user.name }}">
            </div>
            <div class="manual_input">
                <p class="input_hint">Surname:</p>
                <input class="input_field" type="text" name="surname" value="{{ user.surname }}">
            </div>
            <div class="manual_input">
                <p class="input_hint">Nickname:</p>
                <input class="input_field" type="text" name="nickname" value="{{ user.nickname }}">
            </div>
            <div class="manual_input">
                <p class="input_hint">Email:</p>
                <input class="input_field" type="text" name="email" value="{{ user.email }}">
            </div>
            <div class="manual_input">
                <p class="input_hint">Unit:</p>
                <input class="input_field" type="text" name="unit" value="{{ user.unit }}">
            </div>
            <div class="manual_input">
                <p class="input_hint">Current Week:</p>
                <input class="input_field" type="number" name="week" value="{{ user.week }}">
            </div>
            <div class="manual_input">
                <p class="input_hint">Beginning Week:</p>
                <input class="input_field" type="number" name="start_week" value="{{ user.start_week }}">
            </div>
            <div class="manual_input">
                <p class="input_hint">Years in apprenticeship:</p>
                <input class="input_field" type="number" name="year" value="{{ user.year }}">
            </div>
            <div class="manual_input">
                <p class="input_hint">Beginning Year:</p>
                <input class="input_field" type="number" name="beginning_year" value="{{ user.beginning_year }}">
            </div>
            <div class="manual_input">
                <p class="input_hint">Color Mode:</p>
                <select class="input_field" type="text" name="color_mode">
                    {% if user.color_mode == "Darkmode": %}
                        <option value="{{ user.color_mode }}">Darkmode</option>
                        <option value="Lightmode">Lightmode</option>
                    {% else: %}
                        <option value="{{ user.color_mode }}">Lightmode</option>
                        <option value="Darkmode">Darkmode</option>
                    {% endif %}
                </select>
            </div>

        </div>
        <div class="buttons">
            <input class="button" type="submit" name="save" value="Save changes" form=configform>
            <input class="secondary_button" type="reset" name="reset" value="Reset edited values" form=configform>
            <input class="secondary_button" type="submit" name="hard_reset" value="Reset to default">
        </div>
    </form>
{% endblock %}
