{% extends "base.html" %}
<!DOCTYPE html>
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/general.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/user.css') }}">
{% endblock %}

{% block title %}{{ session["user"].name }} - Report Booklet Writer{% endblock %}

{% block headline %}Report Booklet Writer{% endblock %}

{% block second_title %}Welcome, {{ session["user"].name }}{% endblock %}

{% block content %}
    <a class="button" href="{{ url_for('user.edit') }}">Edit</a>
    <a class="button" href="{{ url_for('user.todolist') }}">Todolist</a>
    <a class="button" href="{{ url_for('user.settings') }}">Settings</a>
    <a class="button" href="{{ url_for('sec.logout') }}">Logout</a>
    <div class="watermark_container">
        <a href="https://github.com/thecoder777" class="watermark">Design by @TheCoder777</a>
    </div>
{% endblock %}
