<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        {% block head %}
        <!-- LOAD SPECIFIC STYLESHEETS -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {% endblock %}
    </head>
    <body>
        <div class="heading">
            <div class="heading">
                <div class="headline home">
                    <a href="{{ url_for('index') }}">
                        <img class="icon" src="{{ url_for('static', filename='home.svg') }}" alt="home">
                    </a>
                </div>
            </div>
            <div class="headline">
                <h1 class="header">{% block headline %}{% endblock %}</h1>
            </div>
            <div class="heading">
                <div class="headline settings">
                    <a href="{{ url_for('settings') }}">
                        <img class="icon" src="{{ url_for('static', filename='settings.svg') }}" alt="settings">
                    </a>
                </div>
            </div>
        </div>
        <div class="bodybody">
            <p class="simple_header" style="{% block statusstyle %}{% endblock %}">{% block statusmessage %}{% endblock %}</p>
            {% block statuscontent %}
            {% endblock %}
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>
