{% extends "base.html" %}
<!DOCTYPE html>
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/general.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/content_overview.css') }}">
{% endblock %}

{% block title %}Content Overview{% endblock %}

{% block headline %}Python Berichtsheft Auto Writer{% endblock %}

{% block second_title %}Here is all you've ever edited!{% endblock %}

{% block content %}

<form class="form" action="" method="post" id="contentform">
    <input class="button" type="submit" name="export" value="Export all" form=contentform>
</form>
<section class="card_list">
    {% for cont in content: %}
    <a class="card_link" href="/edit?id={{ cont.get('id', '') }}">
        <article class="card">
            <header class="card_head">
                <p class="number">Week: {{ cont.get('week', '') }}</p>
                <h2 class="card_header">Unit: {{ cont.get('unit', '') }}, Year: {{ cont.get('year', '') }}</h2>
            </header>
        </article>
    </a>
    {% endfor %}
</section>

{% endblock %}
