{% extends "base.html" %}
<!DOCTYPE html>
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/general.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/index.css') }}">
{% endblock %}
{% block title %}Berichtsheft Auto Writer{% endblock %}

{% block headline %}Python Berichtsheft Auto Writer{% endblock %}

{% block statusmessage %}Simpler then ever before!{% endblock %}
{% block statuscontent %}
    <a class="button" href="{{ url_for('edit') }}">Start Now!</a>
    <div class="text_links">
        {% if not session["user"]: %}
        <a class="username text_link" href="{{ url_for('login') }}">Login</a>
        {% else: %}
        <p class="">Logged in as: {{ session["user"].name }}</p>
        <a class="text_link logout" href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
{% endblock %}
{% block content %}
    <div class="watermark_container">
        <a href="https://github.com/thecoder777" class="watermark">Design by @TheCoder777</a>
    </div>
{% endblock %}
