{% extends "base.html" %}
<!DOCTYPE html>
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/general.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/settings.css') }}">
{% endblock %}
{% block title %}Config Berichtsheft{% endblock %}

{% block statusstyle %}
    {% if( action == "success" or action == "success_reset"): %}color:var(--accent-color);
    {% elif action == "fail": %}color:var(--warning-color);
    {% endif %}
{% endblock %}

{% block headline %}Python Berichtsheft Auto Writer{% endblock %}

{% block statusmessage %}
    {% if action == "success": %}Successfully saved config!
    {% elif action == "fail": %}Failed to write config!
    {% elif action == "success_reset": %}Successfully reseted config to default!
    {% else: %}Here you can edit your config:
    {% endif %}
{% endblock %}

{% block content %}
    <form class="form" action="" method="post" id="configform">
        <div class="form_wrapper">
            <div class="manual_input">
                <p class="input_hint">Name:</p>
                <input class="input_field" type="text" name="name" value="{{ user.name }}">
            </div>
            <div class="manual_input">
                <p class="input_hint">Surname:</p>
                <input class="input_field" type="text" name="surname" value="{{ user.surname }}">
            </div>
            <div class="manual_input">
                <p class="input_hint">Nickname:</p>
                <input class="input_field" type="text" name="nickname" value="{{ user.nickname }}">
            </div>
            <div class="manual_input">
                <p class="input_hint">Email:</p>
                <input class="input_field" type="text" name="email" value="{{ user.email }}">
            </div>
            <div class="manual_input">
                <p class="input_hint">Unit:</p>
                <input class="input_field" type="text" name="unit" value="{{ user.unit }}">
            </div>
            <div class="manual_input">
                <p class="input_hint">Week of first Year:</p>
                <input class="input_field" type="number" name="week" value="{{ user.week }}">
            </div>
            <div class="manual_input">
                <p class="input_hint">Current Number:</p>
                <input class="input_field" type="number" name="nr" value="{{ user.nr }}">
            </div>
            <div class="manual_input">
                <p class="input_hint">Year:</p>
                <input class="input_field" type="number" name="year" value="{{ user.year }}">
            </div>
            <div class="manual_input">
                <p class="input_hint">Color Mode:</p>
                <input class="input_field" type="text" name="color_mode" value="{{ user.color_mode }}">
            </div>

        </div>
        <div class="buttons">
            <input class="button" type="submit" name="save" value="Save changes" form=configform>
            <input class="secondary_button" type="reset" name="reset" value="Reset changed values" form=configform>
            <input class="secondary_button" type="submit" name="hard_reset" value="Reset to default">
        </div>
    </form>
{% endblock %}
