{% extends "base.html" %}
<!DOCTYPE html>
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/general.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/todolist.css') }}">
{% endblock %}
{% block title %}Berichtsheft Auto Writer{% endblock %}

{% block headline %}Python Berichtsheft Auto Writer{% endblock %}
{% block statusmessage %}That's your todolist!<br>Impressive, right?{% endblock %}
{% block statuscontent %}
<!-- <a class="button" href="{{ url_for('login') }}">Save</a> -->
{% endblock %}
{% block content %}
<div class="todolist">
    <ul>
        {% for i in range(df.columns| length): %}
        {% if not df[i]["done"]: %}
        <div class="section_container">
            <li class="section">
                <div class="section_title">
                    <input class="line checkbox" id="{{i}}" type="checkbox" name="{{i}}">
                    <label class="line" for="{{i}}">{{ df[i]["title"] }}</label>
                </div>
            </li>
            {% else: %}
            <li class="section">
                <div class="section_title">
                    <input class="line checkbox" id="{{i}}" type="checkbox" name="{{i}}" checked>
                    <label class="line" for="{{i}}" style="text-decoration:line-through;">{{ df[i]["title"] }}</label>
                </div>
            </li>
            {% endif %}
            {% for j in range(df[i]["blocks"]| length): %}
            {% if not df[i]["blocks"][j]["done"]: %}
            <div class="head_container">
                <li class="head">
                    <div class="head_title">
                        <input class="line checkbox" id="{{i}}.{{j}}" type="checkbox" name="{{i}}.{{j}}">
                        <label class="line" for="{{i}}.{{j}}">{{ df[i]["blocks"][j]["head"] }}</label>
                    </div>
                </li>
            {% else: %}
            <div class="head_container">
                <li class="head">
                    <div class="head_title">
                        <input class="line checkbox" id="{{i}}.{{j}}" type="checkbox" name="{{i}}.{{j}}" checked>
                        <label class="line" for="{{i}}.{{j}}" style="text-decoration:line-through;">{{ df[i]["blocks"][j]["head"] }}</label>
                    </div>
                </li>
            {% endif %}
                {% for k in range(df[i]["blocks"][j]["body"]| length): %}
                {% if not df[i]["blocks"][j]["body"][k]["done"]: %}
                <li class="lines">
                    <div class="item">
                        <input class="line checkbox" id="{{i}}.{{j}}.{{k}}" type="checkbox" name="{{i}}.{{j}}.{{k}}">
                        <label class="line" for="{{i}}.{{j}}.{{k}}">{{ df[i]["blocks"][j]["body"][k]["content"] }}</label>
                    </div>
                </li>
                {% else: %}
                <li class="lines">
                    <div class="item">
                        <input class="line checkbox" id="{{i}}.{{j}}.{{k}}" type="checkbox" name="{{i}}.{{j}}.{{k}}" checked>
                        <label class="line" for="{{i}}.{{j}}.{{k}}" style="text-decoration:line-through;">{{ df[i]["blocks"][j]["body"][k]["content"] }}</label>
                    </div>
                </li>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </ul>
</div>
{% endblock %}
