{% extends "base.html" %}
<!DOCTYPE html>
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/general.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/user.css') }}">
{% endblock %}
{% block title %}Berichtsheft Auto Writer{% endblock %}

{% block headline %}Python Berichtsheft Auto Writer{% endblock %}
{% block statusmessage %}Welcome, {{ session["user"].name }}{% endblock %}
{% block statuscontent %}
    <a class="button" href="{{ url_for('edit') }}">Edit</a>
    <a class="button" href="{{ url_for('todolist') }}">Todolist</a>
    <a class="button" href="{{ url_for('settings') }}">Settings</a>
    <a class="button" href="{{ url_for('logout') }}">Logout</a>
{% endblock %}
{% block content %}
    <div class="watermark_container">
        <a href="https://github.com/thecoder777" class="watermark">Design by @TheCoder777</a>
    </div>
{% endblock %}
