@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Poppins&family=Red+Hat+Display:wght@900&display=swap');

:root {
    --heading-font: 'Red Hat Display', sans-serif;
    --text-font: 'Poppins', sans-serif;
    --monospace-font: 'Inconsolata', monospace;
    --button-font-size: 1.5rem;
    --button-font-size-hover: 1.8rem;
    --button-font-size-mobile: 2rem;
    --button-font-size-mobile-hover: 2rem;
    --button-secondary-outline-color: #eee;
    --text-color: #eee;
    --text-color-inv: #111;
    --background-color: #181a1b;
    --lighter-background: #202324;
    --background-color-inv: #eee;
    --accent-color: #1abc9c;
    --accent-color-bright: #1dd1ad;
    --warning-color: #ff202f;
}

html {
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--background-color);
    justify-content: center;
    width: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.input_field {
    font-size: 1.2rem;
    background-color: var(--lighter-background);
    color: var(--text-color);
    padding: 1rem;
    border: 0 none;
    border-bottom: 0.2rem solid var(--accent-color);
    border-radius: 1rem;
    width: auto;
}

.input_field:focus {
    outline: none;
}

.input_hint {
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
}

.manual_input {
    display: inline-block;
    text-align: left;
    font-family: var(--text-font);
    font-size: 1.2rem;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

.form_wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 70%;
    margin: auto;
    padding: 0;
}

.icon {
    height: 3rem;
    margin: 1rem;
}

.headline {
    margin: auto;
}

.heading {
    /* width: 100%; */
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: center;
}

.header {
    font-family: var(--heading-font);
    font-size: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto;

}

.simple_header {
    font-family: var(--text-font);
    font-size: 2rem;
    margin: 4rem;
    margin-bottom: 4rem;
    margin-top: 0;
    padding: 0;
}

.button {
    color: var(--text-color);
    background-color: var(--accent-color);
    border: 0.2rem solid rgba(255, 255, 255, 0);
    font-family: var(--heading-font);
    font-size: var(--button-font-size);
    border-radius: 1.5rem;
    padding: 2rem;
    margin: 2rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    width: fit-content;
    align-self: center;
}

.button:hover {
    background-color: var(--background-lighter);
    border: 0.2rem solid var(--accent-color-bright);
    font-size: var(--button-font-size);
}

.button:focus {
    outline: none;
}

.secondary_button {
    color: var(--text-color);
    background-color: var(--lighter-background);
    border: 0.2rem solid var(--button-secondary-outline-color);
    font-family: var(--heading-font);
    font-size: var(--button-font-size);
    border-radius: 1.5rem;
    padding: 2rem;
    margin: 2rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    width: fit-content;
    align-self: center;
}

.secondary_button:hover {
    background-color: var(--lighter-background);
    border: 0.2rem solid var(--accent-color);
    font-size: var(--button-font-size);
}

.secondary_button:focus {
    outline: none;
}

.bodybody {
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: auto;
}

.text_links {
    font-family: var(--text-font);
    font-size: 1rem;
    color: var(--text-color);
}

.text_link {
    font-family: var(--text-font);
    font-size: 1rem;
    color: var(--text-color);
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }

  .input_field {
      font-size: 2rem;
  }
  .manual_input {
      font-size: 2rem;
  }

  .icon {
      height: 2rem;
  }

  .header {
      font-size: 2rem;
  }

  .simple_header {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      margin-top: 0;
  }

  .watermark {
      font-size: 1.5rem;
  }
}
