
.form_wrapper {
    display: flex;
    flex: 0 0 auto;
    flex-grow: 1;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.button {
    font-size: var(--button-font-size);
    border: var(--border-size) solid rgba(255, 255, 255, 0);
    margin: 2rem;
    padding: 1rem;
}

.button:hover {
    font-size: var(--button-font-size);
    background-color: var(--lighter-background);
    border: var(--border-size) solid var(--accent-color);
    margin: 2rem;
    padding: 1rem;
}

.secondary_button {
    font-size: var(--button-font-size);
    background-color: var(--warning-color);
    border: var(--border-size) solid rgba(255, 255, 255, 0);
    margin: 2rem;
    padding: 1rem;
}

.secondary_button:hover {
    font-size: var(--button-font-size);
    background-color: var(--lighter-background);
    border: var(--border-size) solid var(--warning-color);
    margin: 2rem;
    padding: 1rem;
}

.buttons {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 10px;
    }

    .input_field {
        font-size: 2rem;
    }

    .manual_input {
        font-size: 2rem;
    }

    .form_wrapper {
      flex-flow: column;
      width: 90%;
    }

    .buttons {
        display: flex;
        flex-flow: column;
    }

    .button {
        font-size: var(--button-font-size-mobile);
        width: -webkit-fill-available;
    }

    .secondary_button {
        font-size: var(--button-font-size-mobile);
        width: -webkit-fill-available;
    }

}
